@font-face {
  font-family: "Aileron";
  src: url(./Aileron-Light.otf);
}

.custo-teal-transparent {
  background-color: rgba(0, 150, 136, 0.5);
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
i {
  font-family: "Aileron";
  text-align: justify;
}

hr {
  margin: 5px 0;
}

.custo-teal-transparent {
  background-color: rgba(0, 150, 136, 0.5);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
i {
  font-family: "Aileron";
}

hr {
  margin: 5px 0;
}

.custo-teal-transparent {
  background-color: rgba(0, 150, 136, 0.5);
}

.skillText {
  float: left;
  width: 40%;
  margin: 0px;
  padding: 0px;
}

.skillProgressBar {
  float: right;
  width: 60%;
}

.skillsRequired {
  font-style: italic;
}

.portfolio-h2 {
  display: inline-block;
}

.portfolio-img {
  height: 100%;
  max-height: 75px;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
  .print-hidden {
    display: none;
  }
  @page {
    margin: 0.5cm;
  }
  body {
    font-size: 0.7em !important;
  }
  h1 {
    font-size: 20px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  h5 {
    font-size: 14px !important;
  }
  h6 {
    font-size: 12px !important;
  }
}
